.input-field label {
    color: #5e35b1;
}

.input-field input[type=text]:focus + label {
    color: #5e35b1;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #5e35b1;
    box-shadow: 0 1px 0 0 #5e35b1;
}
  
.input-field .prefix {
    color: #9575cd;
}

.input-field .prefix.active {
    color: #5e35b1;
}